
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/


*.exe

*.log
.cache/
.pytest_cache/

.vscode/

.venv/
.zed/
build/

update.py       # скрипт для обновления пакета на pypi
Moon.Examples/  # примеры использования пакета
